---
layout: "page"

generator: "taxonomy"
max_page: 5
taxonomy_attribute: "tags"
permalink: "/:name"
sort_by: 'date'
sort_type: 'descending'
---
<h2 class="tag-title text-muted text-right"><i class="fa fa-tag"></i> {{page.term}}</h2>
<hr>
{% for post in page.pagination.items %}
<div class="post-preview">
    <a href="{{ site.url }}{{ post.url }}">
        <h3 class="post-title">
            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <h4 class="post-subtitle">
            {{ post.subtitle }}
        </h4>
        {% endif %}
    </a>
    {% if post.description %}
    <p class="post-description">{{ post.description }}</p>
    {% endif %}
    <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date('F jS Y, \\a\\t g:ia') }}</p>
</div>
<hr>
{% endfor %}

{% include "paginator.html.twig" %}
